<form method="post" action="/create_meetup" style="color:#000">
  Title: <input type="text" name="title"><br>
  Description: <input style="height: 300px; width: 300px;" type="text" name="description"><br>
  Location: <input type="text" name="location"><br>
  Date: <input type="date" name="start_date"><br>
  Time: <input type="time" name="start_time"><br>
  <br><br>
  <input type="submit" name="submit_to_meetups_table" value="Submit">
</form>
